@import "compass";
@import "partials/variables";
@import "partials/normalize";
@import "partials/mixins";
@import "partials/base";
@import "partials/timeline";
@import "partials/grid";
@import "susy";

.top {
  position: relative;
  background-color: #FFF;
  padding-top: 40px;
  margin: 0 auto;
  img{
    width: 100%;
    height: 100%;
  }
}

// Navigation
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  overflow: hidden;
  background-color: rgba($second-bg-color, .8);
  z-index: 999;
  transition: all 0.5s ease-out;
  @media #{$phone}{
      padding-left:300px;
       padding-right: 0;
    }
  ul{
    list-style: none;
    text-align: center;
    img{
      width: 20px;
      display: none;
      @media #{$phone}{
      display: inline-block;
    }
    }
  }
  li {
    display: block;
    padding: 15px;
    @media #{$phone}{
      display: inline-block;
    }
  }
}

.navbar {
  a{
    text-decoration: none;
    color: $heading-dark;
    text-transform: uppercase;
    font-weight: 600;
}
}
// open nav
.open-nav{
  height: 310px;
}
// hamburger button
.mobile-toggle{
  margin: 0 auto;
  text-align: center;
  position: relative;
  width: 60px;
  height: 60px;
  background-color: transparent;
  cursor: pointer;
  @media #{$phone}{
    display: none;
  }

  div {
      background-color:$heading-dark;
      width: 100%;
      height: 5px;
      margin: 3px auto 13px auto;
      @include bs-trans(0.3s, ease-out);
  }
  &.open {
      :first-child {
        transform: translateY(18.5px) rotate(45deg);
      }
      :nth-child(2){
        opacity: 0;
      }
      :nth-child(3){
        transform: translateY(-18.5px) rotate(-45deg);
      }
    }
}

/*================!!!!===============*/
// Timeline section in timeline.scss !!!
/*================!!!!=================*/
// below we have content of timeline !!!!
/*================!!!!=================*/
.content-hide {
  display: none;
}

.content-show {
  padding:10px;
 background:#fff;
}

.person {
  text-align: center;
  a {
    font-size: 1.1em;
    color: $heading-dark;
    @media #{$phone}{
      font-size: 1.8em;
    }
  }

  p{
    font-size: 0.7em;
    line-height: 14px;
    @media #{$phone}{
      font-size: 1em;
    }
  }

}

// Organizators section style
.organizators{
  margin: 0 auto;
  padding: 150px 0;
  @include transform(skew(0deg, -10deg));
  .content-org{
    @include transform(skew(0deg, 10deg));
    margin: 0 auto;
    text-align: center;
    h3 {
    	color: $heading-dark;
    }
    p {
    	color: darken($text-dark, 20%);
    }
    img {
      max-width: 150px;
    }
    a{
      font-size: 1.7em;
      color: $heading-dark;
    }
  }
  .mid{
    margin-top: 10px;
    @media #{$phone}{
      margin-top: 50px;
    }

  } 
}
// Information section style
.information{
   background: $bg-color;
  padding: 250px 0;
  @include transform(skew(0deg, -10deg));
  margin-top: 200px;  
  color: $heading-light;
  .content-inf{
    @include transform(skew(0deg, 10deg));
    text-align: center;
     img {
      max-width: 150px;
    }
    i {
      font-size: 8em;
    }
  }
}

.info-text{
  margin-top: 50px;
  :nth-child(2){
    margin-top: 20px;
  }
}

// Contact section with social icons, adress inf. and google map

.sponsors{ 
  padding-top: 200px;
  margin: 0 auto;
  text-align: center;
  color: $heading-dark;
  img {
    width: 200px;
    height: 150px;
    padding: 20px;
  }
  .sponsor-list {
    margin: 0 auto;
    text-align: left;
    width: 50%;
    padding-top: 30px;
  }
}

.arrow-container {
  position: relative;
  height: 100px;
  padding-top: 40px;
  .arrow{
    position: absolute;
    transform: translate(35%, -80%);
   
    font-size: 2em;
    opacity: 0;
    @include bs-trans(0.3s, linear);
    }
    a{
      color: $heading-dark;
      &:hover .arrow{
        opacity: 1;
        animation: pulse 3s infinite;
        transform: translate(35%, -80%);
      }
    }
  }


// contact section with social media icons, adress info and google maps
.contact{
  background: $bg-color;
  padding: 250px 0;
  @include transform(skew(0deg, -10deg));
  margin-top: 200px;  
  text-align: center;
  color: $heading-light;
  .content-contact{
    @include transform(skew(0deg, 10deg));
    text-align: center;
     li {
    list-style: none;
    display: inline-block;
    font-size: 2.5em;
    padding: 15px;
    transform: scale(1);
    @include bs-trans(0.2s, ease-out);
    &:hover{
    transform: scale(1.4);
    }
    a{
      color: $heading-light;
    }
   }
    .map {
      width: 350px;
      height: 230px;
      @media #{$phone}{
      width: 600px;
      height: 400px;
      }
    }
    h2 {
      margin-bottom: 20px;
    } 
  }
}
// City test
.city {
  width: 100%;
  background-image: url('../img/BW-Template_02.jpg');
 min-height: 200px;
background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

footer {
  color: $heading-dark;
  margin: 150px auto 20px auto;
  .foot {
    margin-top: 100px;
    position: relative;
    a{
      color: $heading-dark;
    }
    .klaudia {
      position: relative;
      height: 40px;
      .brush {
        position: absolute;
        transform: translate(35%, -15%);
        font-size: 1.3em;
      }
      &:hover .brush {
        animation: wrench 6s infinite;
      }
    }
    .emil {
      position: relative;
      height: 40px;
      .pen {
        position: absolute;
        transform: translate(35%, -15%);
        font-size: 1.3em;
      }
      &:hover .pen {
        animation: wrench 6s infinite;
      }
    }
  }
}

