$bg-color: #1d1d1d;
$second-bg-color: #fff;
$heading-light: #fefefe;
$heading-dark: #464646;
$text-light: #b6b6b6;
$text-dark: #b6b6b6;
$timeline-color: #FFFFFF;

// breakpoints

$phone: "(min-width: 768px)";
$tablet: "(min-width: 992px)";
$desktop: "(min-width: 1200px)";